Software Node-RED/SmartPetFeeder_NodeRED_ExportedFlows.json
[{"id":"ff4c5c1e.a3048","type":"tab","label":"Inputs MQTT_old","disabled":false,"info":""},{"id":"6cb9567a.536ba8","type":"tab","label":"Inputs MQTT","disabled":false,"info":""},{"id":"86b43268.760b8","type":"tab","label":"Output MQTT","disabled":false,"info":""},{"id":"dd8bd46f.2ffec8","type":"tab","label":"LOGIC","disabled":false,"info":""},{"id":"4e5cd26d.4a198c","type":"tab","label":"BD_old","disabled":false,"info":""},{"id":"876783b9.2928b","type":"tab","label":"DB","disabled":false,"info":""},{"id":"8d15e7b0.662468","type":"tab","label":"Warnings","disabled":false,"info":""},{"id":"cb6acb82.65ea48","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"27ecc1a8.f7d9ce","type":"mqtt-broker","name":"","broker":"192.168.1.90","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e4bf2e41.357e","type":"mqtt-broker","name":"Escola","broker":"172.23.7.235","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e751ac01.95b02","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#29d2db","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4bd5b5c9.a8ce6c","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"99bdb7ce.d9ef18","type":"ui_group","name":"Default2","tab":"","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d8aefefb.49d01","type":"mqtt-broker","name":"","broker":"172.23.7.235","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"af15cadf.350908","type":"ui_group","name":"Inicio","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"538a2e42.8b50b","type":"ui_group","name":"Group 3","tab":"","order":1,"disp":true,"width":6},{"id":"f5390c13.57f49","type":"ui_group","name":"Group 2","tab":"","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e00ba68d.91a3c8","type":"ui_group","name":"Group1","tab":"","order":2,"disp":true,"width":"15","collapse":false,"className":""},{"id":"d24e982.8771e68","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"projeto_comedouro","tz":"","charset":"UTF8"},{"id":"4f4c5cf5.079774","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"815c101b.cc28b","type":"mqtt-broker","name":"","broker":"192.168.1.90","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"82effaf5.02a058","type":"mqtt-broker","name":"Escola","broker":"172.23.7.235","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e0d83cd3.782b5","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"243a313f.4d2a4e","type":"ui_group","name":"Default2","tab":"","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"66f5d073.f26d3","type":"mqtt-broker","name":"","broker":"172.23.7.235","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"960bcd17.a4cdc","type":"ui_group","name":"Inicio","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c079ce61.4edce","type":"ui_group","name":"Group 3","tab":"","order":1,"disp":true,"width":6},{"id":"a32d09eb.1b1618","type":"ui_group","name":"Group 2","tab":"","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bc7b5fbe.a2d8","type":"ui_group","name":"Group1","tab":"","order":2,"disp":true,"width":"15","collapse":false,"className":""},{"id":"598d80c8.bedce","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3317d8e91d680919","type":"ui_group","name":"Smart feeder debug","tab":"ed1abf03616a6909","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"25095c10.b7c354","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5ac797bd.ef27d8","type":"ui_group","name":"grafico","tab":"628fb1f2.c1f1b","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"1e33d972.6ab2c7","type":"ui_group","name":"Group 2","tab":"628fb1f2.c1f1b","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"b07aea19.d406b8","type":"ui_group","name":"Group 3","tab":"628fb1f2.c1f1b","order":4,"disp":false,"width":"6","collapse":false,"className":""},{"id":"8427972e.288bb8","type":"ui_group","name":"Group 4","tab":"628fb1f2.c1f1b","order":5,"disp":false,"width":"6","collapse":false,"className":""},{"id":"b6656a5a.8a24b8","type":"ui_group","name":"Group 5","tab":"628fb1f2.c1f1b","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"274a5923.348926","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"30568ec5.855672","type":"ui_group","name":"Historic","tab":"fdab133a.9f5dd","order":1,"disp":true,"width":"14","collapse":false,"className":""},{"id":"ed1abf03616a6909","type":"ui_tab","name":"Reservoir - debug","icon":"dashboard","disabled":false,"hidden":false},{"id":"628fb1f2.c1f1b","type":"ui_tab","name":"Info","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fdab133a.9f5dd","type":"ui_tab","name":"Historic","icon":"dashboard","disabled":false,"hidden":false},{"id":"f7fc8722.7d2fe8","type":"mqtt-broker","name":"","broker":"192.168.1.90","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bdab5bd0.3884f8","type":"mqtt-broker","name":"Escola","broker":"172.23.7.235","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28b8e6c6.b5856a","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4f8bcdc9.fb5554","type":"ui_group","name":"Default","tab":"e7a9d5e6.cac8f8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5b7b2b2f.71a274","type":"ui_group","name":"Default2","tab":"28b8e6c6.b5856a","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e7a9d5e6.cac8f8","type":"ui_tab","name":"alone","icon":"dashboard","disabled":false,"hidden":false},{"id":"6a614bad.fd7514","type":"mqtt-broker","name":"","broker":"172.23.7.235","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4a40ed2.f508b","type":"ui_group","name":"Inicio","tab":"441a7a1d.e2d974","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5a03b7aa.336758","type":"ui_group","name":"Group 3","tab":"29ca2b9c.1ba8d4","order":1,"disp":true,"width":6},{"id":"eafbbca8.cdb96","type":"ui_group","name":"Group 2","tab":"29ca2b9c.1ba8d4","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a0729a21.752028","type":"ui_group","name":"Group1","tab":"29ca2b9c.1ba8d4","order":2,"disp":true,"width":"15","collapse":false,"className":""},{"id":"441a7a1d.e2d974","type":"ui_tab","name":"Propriedades","icon":"dashboard","disabled":false,"hidden":false},{"id":"29ca2b9c.1ba8d4","type":"ui_tab","name":"Temperatura","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"df35fb65.ec0208","type":"mqtt-broker","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21043e.d6b80bc2","type":"comment","z":"4e5cd26d.4a198c","name":"Buscar horas","info":"","x":570,"y":60,"wires":[]},{"id":"19a9b59c.15aa1a","type":"comment","z":"4e5cd26d.4a198c","name":"registar deteção de animal","info":"","x":610,"y":280,"wires":[]},{"id":"d851d783.da83e8","type":"inject","z":"4e5cd26d.4a198c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"select date_format(Hora,'%H:%i') as hora from horarios where id_comedouro=1;","payload":"","payloadType":"date","x":230,"y":100,"wires":[[]]},{"id":"4f7cf8b.1aa2e08","type":"comment","z":"4e5cd26d.4a198c","name":"registar nivel do reservatorio","info":"","x":620,"y":460,"wires":[]},{"id":"a3543f00.413d","type":"inject","z":"4e5cd26d.4a198c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO historico VALUES(null,current_timestamp(),'deposito',1);","payload":"","payloadType":"date","x":220,"y":520,"wires":[["bdcfe0f7.256f4"]]},{"id":"6fa60390.9b9c2c","type":"comment","z":"4e5cd26d.4a198c","name":"Registar nivel do taça da ração","info":"","x":630,"y":580,"wires":[]},{"id":"a40318e.5a94ce8","type":"inject","z":"4e5cd26d.4a198c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO historico VALUES(null,current_timestamp(),'racao',1);","payload":"","payloadType":"date","x":220,"y":660,"wires":[["af32b4a.e2edf48"]]},{"id":"5aefb67e.b87d68","type":"comment","z":"4e5cd26d.4a198c","name":"Registar nivel da taça da agua","info":"","x":620,"y":720,"wires":[]},{"id":"a46329e9.f4a988","type":"inject","z":"4e5cd26d.4a198c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO historico VALUES(null,current_timestamp(),'agua',1);","payload":"","payloadType":"date","x":220,"y":800,"wires":[["a9ecc85c.9b9e48"]]},{"id":"d42dc33c.99c36","type":"link out","z":"4e5cd26d.4a198c","name":"bdhoras","links":["a105f24c.78fae"],"x":975,"y":100,"wires":[]},{"id":"d105db43.9683a8","type":"comment","z":"4e5cd26d.4a198c","name":"notificacoes","info":"","x":570,"y":860,"wires":[]},{"id":"712ba13a.2dfe9","type":"link in","z":"4e5cd26d.4a198c","name":"","links":["3ce199a4.2a64a6"],"x":215,"y":380,"wires":[[]]},{"id":"530c53e6.f1e6cc","type":"link in","z":"4e5cd26d.4a198c","name":"","links":["4c57be73.b313b"],"x":155,"y":960,"wires":[[]]},{"id":"b321b9cc.6c07e8","type":"mysql","z":"4e5cd26d.4a198c","mydb":"d24e982.8771e68","name":"","x":590,"y":100,"wires":[["d42dc33c.99c36"]]},{"id":"8db565d3.4806a8","type":"inject","z":"4e5cd26d.4a198c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO historico VALUES(null,current_timestamp(),'pir',1);","payload":"","payloadType":"date","x":90,"y":280,"wires":[[]]},{"id":"7f26a91a.2e6bd8","type":"inject","z":"4e5cd26d.4a198c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO historico_comedouro VALUES((select(Max(ID_Historico))from historico),1);","payload":"","payloadType":"date","x":110,"y":360,"wires":[[]]},{"id":"bdcfe0f7.256f4","type":"mysql","z":"4e5cd26d.4a198c","mydb":"d24e982.8771e68","name":"","x":590,"y":520,"wires":[["35b23800.3b3398"]]},{"id":"35b23800.3b3398","type":"debug","z":"4e5cd26d.4a198c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":520,"wires":[]},{"id":"59b5cacf.edbe94","type":"mysql","z":"4e5cd26d.4a198c","mydb":"d24e982.8771e68","name":"","x":590,"y":320,"wires":[["f211296b.3ae078"]]},{"id":"f211296b.3ae078","type":"debug","z":"4e5cd26d.4a198c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":320,"wires":[]},{"id":"a9ecc85c.9b9e48","type":"mysql","z":"4e5cd26d.4a198c","mydb":"d24e982.8771e68","name":"","x":590,"y":800,"wires":[["27d5880c.e2eeb8"]]},{"id":"d4a3d110.a395e","type":"debug","z":"4e5cd26d.4a198c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":660,"wires":[]},{"id":"27d5880c.e2eeb8","type":"debug","z":"4e5cd26d.4a198c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":800,"wires":[]},{"id":"af32b4a.e2edf48","type":"mysql","z":"4e5cd26d.4a198c","mydb":"d24e982.8771e68","name":"","x":590,"y":660,"wires":[["d4a3d110.a395e"]]},{"id":"83744d17.25aa9","type":"inject","z":"4e5cd26d.4a198c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO mensagens_comedouro VALUES(1,1);","payload":"","payloadType":"date","x":220,"y":900,"wires":[["77213ee4.39cd5"]]},{"id":"30e9b072.45c08","type":"mysql","z":"4e5cd26d.4a198c","mydb":"d24e982.8771e68","name":"","x":590,"y":900,"wires":[["f6888562.b9e648"]]},{"id":"f6888562.b9e648","type":"debug","z":"4e5cd26d.4a198c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":900,"wires":[]},{"id":"93beea1.7076118","type":"inject","z":"4e5cd26d.4a198c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select *from mensagens_comedouro;","payload":"","payloadType":"date","x":220,"y":1020,"wires":[["4f40c7ad.8468d8"]]},{"id":"6078b155.c0461","type":"comment","z":"4e5cd26d.4a198c","name":"Verificate that the notification was read","info":"","x":650,"y":980,"wires":[]},{"id":"4f40c7ad.8468d8","type":"mysql","z":"4e5cd26d.4a198c","mydb":"d24e982.8771e68","name":"","x":590,"y":1020,"wires":[["2d01884a.ce2058"]]},{"id":"2d01884a.ce2058","type":"debug","z":"4e5cd26d.4a198c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":1020,"wires":[]},{"id":"831c74f1.670028","type":"comment","z":"4e5cd26d.4a198c","name":"Buscar doses","info":"","x":570,"y":160,"wires":[]},{"id":"884e1255.46ab1","type":"inject","z":"4e5cd26d.4a198c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"select Dosagem_racao as doses from horarios where ID_comedouro=1 and hour(Hora)=hour(current_timestamp()) and minute(Hora)=minute(current_timestamp())","payload":"","payloadType":"date","x":210,"y":160,"wires":[["38099867.7fecf8"]]},{"id":"38099867.7fecf8","type":"mysql","z":"4e5cd26d.4a198c","mydb":"d24e982.8771e68","name":"","x":590,"y":200,"wires":[["36e5830b.99282c","2c1fca53.9635a6"]]},{"id":"36e5830b.99282c","type":"link out","z":"4e5cd26d.4a198c","name":"doses","links":["f775ae0b.7ab72","587422cb.2ef63c"],"x":975,"y":200,"wires":[]},{"id":"2c1fca53.9635a6","type":"debug","z":"4e5cd26d.4a198c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].doses","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":140,"wires":[]},{"id":"e27a3b8a.aaaf08","type":"rbe","z":"4e5cd26d.4a198c","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":270,"y":200,"wires":[["2d0fa533.19068a"]]},{"id":"74524656.87ecf8","type":"rbe","z":"4e5cd26d.4a198c","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":270,"y":320,"wires":[["e88388c1.fbc2f8"]]},{"id":"cddaf934.c4e7c8","type":"inject","z":"4e5cd26d.4a198c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"DP","payloadType":"global","x":90,"y":220,"wires":[["e27a3b8a.aaaf08","74524656.87ecf8"]]},{"id":"2d0fa533.19068a","type":"change","z":"4e5cd26d.4a198c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"INSERT INTO historico VALUES(null,current_timestamp(),'pir',1);","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":260,"wires":[[]]},{"id":"e88388c1.fbc2f8","type":"change","z":"4e5cd26d.4a198c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"INSERT INTO historico_comedouro VALUES((select(Max(ID_Historico))from historico),1);","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":380,"wires":[[]]},{"id":"d489a822.a3f408","type":"link in","z":"4e5cd26d.4a198c","name":"","links":["748f76db.62f3c8"],"x":115,"y":460,"wires":[["c751075.903eef8"]]},{"id":"c751075.903eef8","type":"function","z":"4e5cd26d.4a198c","name":"","func":"var deposito = msg.payload\nmsg.topic = \"INSERT INTO historico VALUES(null,current_timestamp(),'deposito','\"+deposito+\"') ;INSERT INTO historico_comedouro VALUES((select(Max(ID_Historico))from historico),1);\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":460,"wires":[["bdcfe0f7.256f4"]]},{"id":"3d839e3.d638f62","type":"function","z":"4e5cd26d.4a198c","name":"","func":"var racao = msg.payload\nmsg.topic = \"INSERT INTO historico VALUES(null,current_timestamp(),'racao','\"+racao+\"');INSERT INTO historico_comedouro VALUES((select(Max(ID_Historico))from historico),1);\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":600,"wires":[["af32b4a.e2edf48"]]},{"id":"e2d95cf9.2eab1","type":"link in","z":"4e5cd26d.4a198c","name":"","links":["8b5c5fe9.dd792","3bac3b62.1c34a4"],"x":115,"y":600,"wires":[["3d839e3.d638f62"]]},{"id":"91cbae2.fbb3a5","type":"function","z":"4e5cd26d.4a198c","name":"","func":"var agua = msg.payload\nmsg.topic = \"INSERT INTO historico VALUES(null,current_timestamp(),'agua','\"+agua+\"');INSERT INTO historico_comedouro VALUES((select(Max(ID_Historico))from historico),1);\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":720,"wires":[["a9ecc85c.9b9e48"]]},{"id":"6ab44d1.cce15b4","type":"link in","z":"4e5cd26d.4a198c","name":"","links":["eb30c7d1.4c77a8","8c26aece.69b89"],"x":115,"y":720,"wires":[["91cbae2.fbb3a5"]]},{"id":"d1158ac2.ec7598","type":"comment","z":"4e5cd26d.4a198c","name":"pesquisa de deteçoes por dia","info":"","x":620,"y":1100,"wires":[]},{"id":"c92abb85.f30ee8","type":"link in","z":"4e5cd26d.4a198c","name":"","links":["6010997b.cc6b58","7483ebdf.2ee104"],"x":575,"y":400,"wires":[["211082f4.ce92fe"]]},{"id":"211082f4.ce92fe","type":"function","z":"4e5cd26d.4a198c","name":"","func":"var pir = msg.payload\nmsg.topic = \"INSERT INTO historico VALUES(null,current_timestamp(),'pir','\"+pir+\"');INSERT INTO historico_comedouro VALUES((select(Max(ID_Historico))from historico),1);\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":400,"wires":[["59b5cacf.edbe94"]]},{"id":"21fd8b80.977c94","type":"inject","z":"4e5cd26d.4a198c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2023-02-21","payloadType":"str","x":190,"y":1160,"wires":[["790ef457.711abc"]]},{"id":"34d7052e.7db55a","type":"mysql","z":"4e5cd26d.4a198c","mydb":"d24e982.8771e68","name":"","x":590,"y":1160,"wires":[["fc11edd2.7ac04"]]},{"id":"fc11edd2.7ac04","type":"debug","z":"4e5cd26d.4a198c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":1160,"wires":[]},{"id":"790ef457.711abc","type":"function","z":"4e5cd26d.4a198c","name":"","func":"var date = msg.payload\nmsg.topic = \"select time_stamp,nivel from historico h join historico_comedouro hc on hc.ID_Historico=h.ID_Historico where ID_comedouro= 1 and sensor ='pir' and DATE(time_stamp) ='\"+date+\"';\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1160,"wires":[["34d7052e.7db55a"]]},{"id":"77213ee4.39cd5","type":"function","z":"4e5cd26d.4a198c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":900,"wires":[["30e9b072.45c08"]]},{"id":"302a74a8.bc96ac","type":"switch","z":"ff4c5c1e.a3048","name":"PIR switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":900,"wires":[["4919a24f.1dfd9c"],["365b5c61.72ed34"]]},{"id":"a8783784.177628","type":"switch","z":"ff4c5c1e.a3048","name":"Lids switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1080,"wires":[["2358c4b.d2de03c"],["2c9d5b57.db6ef4"]]},{"id":"497e17a3.0eb2e8","type":"change","z":"ff4c5c1e.a3048","name":"empty reservoir","rules":[{"t":"set","p":"RR0","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"RR1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":120,"wires":[[]]},{"id":"a3211d7.5e50ae","type":"change","z":"ff4c5c1e.a3048","name":"Reservoir almost empty","rules":[{"t":"set","p":"RR0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR1","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"RR2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":200,"wires":[[]]},{"id":"52738823.2cec58","type":"change","z":"ff4c5c1e.a3048","name":"Reservoir almost full","rules":[{"t":"set","p":"RR0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR2","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"RR3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":240,"wires":[[]]},{"id":"7a615a44.c77da4","type":"change","z":"ff4c5c1e.a3048","name":"Reservoir full","rules":[{"t":"set","p":"RR0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR3","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":280,"wires":[[]]},{"id":"b769b13f.3f84e","type":"change","z":"ff4c5c1e.a3048","name":"Empty food bowl","rules":[{"t":"set","p":"TR0","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"TR1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":400,"wires":[[]]},{"id":"379517f6.039f28","type":"change","z":"ff4c5c1e.a3048","name":"Almost empty food bowl","rules":[{"t":"set","p":"TR0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR1","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"TR2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":440,"wires":[[]]},{"id":"1c6b073a.1357f9","type":"change","z":"ff4c5c1e.a3048","name":"Almost full food bowl","rules":[{"t":"set","p":"TR0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR2","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"TR3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":480,"wires":[[]]},{"id":"904d5377.d65f3","type":"change","z":"ff4c5c1e.a3048","name":"Full food bowl","rules":[{"t":"set","p":"TR0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR3","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":520,"wires":[[]]},{"id":"4c961182.1371e","type":"change","z":"ff4c5c1e.a3048","name":"Empty water bowl","rules":[{"t":"set","p":"TA0","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"TA1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":620,"wires":[[]]},{"id":"4b96592f.4f54e8","type":"change","z":"ff4c5c1e.a3048","name":"Almost empty water bowl","rules":[{"t":"set","p":"TA0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA1","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"TA2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":660,"wires":[[]]},{"id":"83267908.c93de8","type":"change","z":"ff4c5c1e.a3048","name":"Almost full water bowl","rules":[{"t":"set","p":"TA0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA2","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"TA3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":700,"wires":[[]]},{"id":"79215b63.a91d14","type":"change","z":"ff4c5c1e.a3048","name":"Full water bowl","rules":[{"t":"set","p":"TA0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA3","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":740,"wires":[[]]},{"id":"a27384b1.4743f8","type":"change","z":"ff4c5c1e.a3048","name":"Animal present","rules":[{"t":"set","p":"DP","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":920,"wires":[[]]},{"id":"852c92bd.77154","type":"change","z":"ff4c5c1e.a3048","name":"Animal not present","rules":[{"t":"set","p":"DP","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":880,"wires":[[]]},{"id":"2358c4b.d2de03c","type":"change","z":"ff4c5c1e.a3048","name":"Lids open","rules":[{"t":"set","p":"TAMPAABERTA","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1060,"wires":[[]]},{"id":"2c9d5b57.db6ef4","type":"change","z":"ff4c5c1e.a3048","name":"Closed lids","rules":[{"t":"set","p":"TAMPAABERTA","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":1100,"wires":[[]]},{"id":"1b5db46c.cf8a9c","type":"StatusUltimate","z":"ff4c5c1e.a3048","name":"Status","property":"payload","x":670,"y":220,"wires":[["5c2c2864.0e6a08"]]},{"id":"579c06c1.624828","type":"StatusUltimate","z":"ff4c5c1e.a3048","name":"Status","property":"payload","x":670,"y":460,"wires":[["2619c0ca.f52b1"]]},{"id":"99fa25aa.dd68b8","type":"StatusUltimate","z":"ff4c5c1e.a3048","name":"Status","property":"payload","x":670,"y":680,"wires":[["52b66a51.b4c964"]]},{"id":"ee319c40.c17ed","type":"StatusUltimate","z":"ff4c5c1e.a3048","name":"Status","property":"payload","x":670,"y":900,"wires":[["302a74a8.bc96ac"]]},{"id":"9ea415d3.408ba8","type":"StatusUltimate","z":"ff4c5c1e.a3048","name":"Status","property":"payload","x":670,"y":1080,"wires":[["a8783784.177628"]]},{"id":"c8be5db9.4eb83","type":"switch","z":"ff4c5c1e.a3048","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":1020,"wires":[["7d26f1de.4c3e1"],["4dfd8fab.96131"]]},{"id":"7d26f1de.4c3e1","type":"change","z":"ff4c5c1e.a3048","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1000,"wires":[["9ea415d3.408ba8"]]},{"id":"4dfd8fab.96131","type":"change","z":"ff4c5c1e.a3048","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1040,"wires":[["9ea415d3.408ba8"]]},{"id":"99c82f52.8cca8","type":"switch","z":"ff4c5c1e.a3048","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":840,"wires":[["4fe43f38.5407a"],["c956983f.2c7018"]]},{"id":"4fe43f38.5407a","type":"change","z":"ff4c5c1e.a3048","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":820,"wires":[["ee319c40.c17ed"]]},{"id":"c956983f.2c7018","type":"change","z":"ff4c5c1e.a3048","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":860,"wires":[["ee319c40.c17ed"]]},{"id":"74119448.bdbdcc","type":"link in","z":"ff4c5c1e.a3048","name":"resracao","links":["aad27291.ed945"],"x":355,"y":260,"wires":[["1b5db46c.cf8a9c","30e747e2.9d04d8","748f76db.62f3c8"]]},{"id":"4deaf8e3.207648","type":"link in","z":"ff4c5c1e.a3048","name":"tacaracao","links":["42d193c8.c4f32c"],"x":355,"y":500,"wires":[["579c06c1.624828","be2322e6.03117","3bac3b62.1c34a4"]]},{"id":"4a6fe3c7.c38dfc","type":"link in","z":"ff4c5c1e.a3048","name":"tacaagua","links":["55b7522d.7a70ac"],"x":355,"y":720,"wires":[["cb0e0e5e.ca976","8c26aece.69b89"]]},{"id":"f32d9cf1.cee7c","type":"link in","z":"ff4c5c1e.a3048","name":"presenca","links":["c0f4abbd.362928"],"x":355,"y":940,"wires":[["7737eb6d.bf2164"]]},{"id":"3049fe07.f15732","type":"link in","z":"ff4c5c1e.a3048","name":"tampa","links":["54fe79d5.87d9c8"],"x":115,"y":1020,"wires":[[]]},{"id":"5c2c2864.0e6a08","type":"switch","z":"ff4c5c1e.a3048","name":"Reservoir switch","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"25","v2t":"num"},{"t":"btwn","v":"26","vt":"num","v2":"50","v2t":"num"},{"t":"btwn","v":"51","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":4,"x":820,"y":220,"wires":[["497e17a3.0eb2e8","3de56b22.60eb94"],["a3211d7.5e50ae","6ba8e930.aa2ee8"],["52738823.2cec58"],["7a615a44.c77da4"]]},{"id":"2619c0ca.f52b1","type":"switch","z":"ff4c5c1e.a3048","name":"Feed bowl switch","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"25","v2t":"num"},{"t":"btwn","v":"26","vt":"num","v2":"50","v2t":"num"},{"t":"btwn","v":"51","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":4,"x":830,"y":460,"wires":[["b769b13f.3f84e"],["379517f6.039f28"],["1c6b073a.1357f9"],["904d5377.d65f3"]]},{"id":"52b66a51.b4c964","type":"switch","z":"ff4c5c1e.a3048","name":"Water bowl switch","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"25","v2t":"num"},{"t":"btwn","v":"26","vt":"num","v2":"50","v2t":"num"},{"t":"btwn","v":"51","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":4,"x":830,"y":680,"wires":[["4c961182.1371e"],["4b96592f.4f54e8"],["83267908.c93de8"],["79215b63.a91d14"]]},{"id":"e6f19baf.887c78","type":"comment","z":"ff4c5c1e.a3048","name":"MQTT Reservoir","info":"","x":180,"y":60,"wires":[]},{"id":"daa2753d.eedc28","type":"comment","z":"ff4c5c1e.a3048","name":"MQTT Feed bowl","info":"","x":180,"y":340,"wires":[]},{"id":"b958950a.5d7268","type":"comment","z":"ff4c5c1e.a3048","name":"MQTT Water bowl","info":"","x":190,"y":560,"wires":[]},{"id":"340ca0b0.b8d5f","type":"comment","z":"ff4c5c1e.a3048","name":"MQTT PIR","info":"","x":160,"y":800,"wires":[]},{"id":"38ac336c.b7d49c","type":"comment","z":"ff4c5c1e.a3048","name":"MQTT Lids","info":"","x":160,"y":980,"wires":[]},{"id":"298bc44b.2d17dc","type":"comment","z":"ff4c5c1e.a3048","name":"MQTT Bowls","info":"","x":170,"y":1160,"wires":[]},{"id":"52737887.569af8","type":"mqtt in","z":"ff4c5c1e.a3048","name":"Subscribe: esp32/sw1","topic":"esp32/sw1","qos":"1","datatype":"auto","broker":"274a5923.348926","x":280,"y":1080,"wires":[["9ea415d3.408ba8","3fea49e1.1b8726"]]},{"id":"92a371d3.253e7","type":"mqtt in","z":"ff4c5c1e.a3048","name":"Subscribe: esp32/sw2","topic":"esp32/sw2","qos":"1","datatype":"auto","broker":"274a5923.348926","x":280,"y":1220,"wires":[["9ea415d3.408ba8","3fea49e1.1b8726"]]},{"id":"a5eeb6ca.d7d0e8","type":"mqtt in","z":"ff4c5c1e.a3048","name":"Subscribe: esp32/pir","topic":"esp32/pir","qos":"1","datatype":"auto","broker":"274a5923.348926","x":270,"y":900,"wires":[["ee319c40.c17ed","4c998e4.c45457"]]},{"id":"698740be.2bb11","type":"mqtt in","z":"ff4c5c1e.a3048","name":"Subscribe: esp32/s1","topic":"esp32/s1","qos":"1","datatype":"auto","broker":"274a5923.348926","x":270,"y":220,"wires":[[]]},{"id":"3f25ede7.59d582","type":"mqtt in","z":"ff4c5c1e.a3048","name":"Subscribe: esp32/s2","topic":"esp32/s2","qos":"1","datatype":"auto","broker":"274a5923.348926","x":270,"y":460,"wires":[[]]},{"id":"f0761b4d.b8c478","type":"mqtt in","z":"ff4c5c1e.a3048","name":"Subscribe: esp32/s3","topic":"esp32/s3","qos":"1","datatype":"auto","broker":"274a5923.348926","x":270,"y":680,"wires":[["99fa25aa.dd68b8","cb0e0e5e.ca976"]]},{"id":"439bfd1a.4d3c44","type":"comment","z":"ff4c5c1e.a3048","name":"MQTT Force motor","info":"","x":190,"y":1300,"wires":[]},{"id":"4cc11dff.0c8374","type":"mqtt in","z":"ff4c5c1e.a3048","name":"Subscribe: esp32/bt1","topic":"esp32/bt1","qos":"1","datatype":"auto","broker":"274a5923.348926","x":280,"y":1380,"wires":[["78a25cf0.78d504"]]},{"id":"78a25cf0.78d504","type":"link out","z":"ff4c5c1e.a3048","name":"fmotor","links":["5d3cc6d3.61ff08"],"x":1175,"y":1380,"wires":[]},{"id":"4919a24f.1dfd9c","type":"StatusUltimate","z":"ff4c5c1e.a3048","name":"Status","property":"payload","x":1070,"y":880,"wires":[["852c92bd.77154"]]},{"id":"365b5c61.72ed34","type":"StatusUltimate","z":"ff4c5c1e.a3048","name":"Status","property":"payload","x":1070,"y":920,"wires":[["a27384b1.4743f8"]]},{"id":"be2322e6.03117","type":"link out","z":"ff4c5c1e.a3048","name":"tr1","links":["7bbb1481.b5f51c","59316f3f.05097"],"x":1175,"y":560,"wires":[]},{"id":"cb0e0e5e.ca976","type":"link out","z":"ff4c5c1e.a3048","name":"ta1","links":["111368ab.731c87","8b997c21.de879"],"x":1175,"y":780,"wires":[]},{"id":"4c998e4.c45457","type":"link out","z":"ff4c5c1e.a3048","name":"prt","links":["d7d5b57b.242248"],"x":1175,"y":960,"wires":[]},{"id":"3fea49e1.1b8726","type":"link out","z":"ff4c5c1e.a3048","name":"t","links":["f6f40260.6e85c"],"x":1175,"y":1220,"wires":[]},{"id":"30e747e2.9d04d8","type":"link out","z":"ff4c5c1e.a3048","name":"deposito","links":["cd7b0728.25efb8"],"x":1175,"y":320,"wires":[]},{"id":"3de56b22.60eb94","type":"link out","z":"ff4c5c1e.a3048","name":"Res_empty","links":["51a0bc10.888984","7df9ce67.345c4"],"x":1175,"y":80,"wires":[]},{"id":"6ba8e930.aa2ee8","type":"link out","z":"ff4c5c1e.a3048","name":"Res_almost_empty","links":["7ba52a83.df2024","7df9ce67.345c4"],"x":1175,"y":160,"wires":[]},{"id":"748f76db.62f3c8","type":"link out","z":"ff4c5c1e.a3048","name":"deposito","links":["d489a822.a3f408"],"x":535,"y":320,"wires":[]},{"id":"3bac3b62.1c34a4","type":"link out","z":"ff4c5c1e.a3048","name":"tr1","links":["a09748eb.1e6958","e2d95cf9.2eab1"],"x":515,"y":540,"wires":[]},{"id":"8c26aece.69b89","type":"link out","z":"ff4c5c1e.a3048","name":"ta1","links":["c02f083a.bdb5a8","6ab44d1.cce15b4"],"x":515,"y":620,"wires":[]},{"id":"7483ebdf.2ee104","type":"link out","z":"ff4c5c1e.a3048","name":"prt","links":["f8d36dd1.8748b","c92abb85.f30ee8"],"x":855,"y":800,"wires":[]},{"id":"7737eb6d.bf2164","type":"change","z":"ff4c5c1e.a3048","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":840,"wires":[["7483ebdf.2ee104"]]},{"id":"88dd9cfc.bb90f","type":"switch","z":"6cb9567a.536ba8","name":"PIR switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":900,"wires":[["f776cb2d.a718c8"],["475e450.a41b0bc"]]},{"id":"e9bc477c.be5a18","type":"switch","z":"6cb9567a.536ba8","name":"Lids switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":1080,"wires":[["a1950cda.3a2ae"],["4c2b2bf5.935084"]]},{"id":"e1bfdd01.daac3","type":"change","z":"6cb9567a.536ba8","name":"empty reservoir","rules":[{"t":"set","p":"RR0","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"RR1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":120,"wires":[[]]},{"id":"f0a989f1.6385d8","type":"change","z":"6cb9567a.536ba8","name":"Reservoir almost empty","rules":[{"t":"set","p":"RR0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR1","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"RR2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":200,"wires":[[]]},{"id":"8f605d3d.5ca29","type":"change","z":"6cb9567a.536ba8","name":"Reservoir almost full","rules":[{"t":"set","p":"RR0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR2","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"RR3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":240,"wires":[[]]},{"id":"1c8a74c7.6ab51b","type":"change","z":"6cb9567a.536ba8","name":"Reservoir full","rules":[{"t":"set","p":"RR0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"RR3","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":280,"wires":[[]]},{"id":"8f03323a.43a13","type":"change","z":"6cb9567a.536ba8","name":"Empty food bowl","rules":[{"t":"set","p":"TR0","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"TR1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":400,"wires":[[]]},{"id":"c09ae2a6.67409","type":"change","z":"6cb9567a.536ba8","name":"Almost empty food bowl","rules":[{"t":"set","p":"TR0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR1","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"TR2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":440,"wires":[[]]},{"id":"76ae4c72.f8c7d4","type":"change","z":"6cb9567a.536ba8","name":"Almost full food bowl","rules":[{"t":"set","p":"TR0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR2","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"TR3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":480,"wires":[[]]},{"id":"bc5d1e15.177a6","type":"change","z":"6cb9567a.536ba8","name":"Full food bowl","rules":[{"t":"set","p":"TR0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TR3","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":520,"wires":[[]]},{"id":"deaf4828.da4ee8","type":"change","z":"6cb9567a.536ba8","name":"Empty water bowl","rules":[{"t":"set","p":"TA0","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"TA1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":620,"wires":[[]]},{"id":"68894615.8db978","type":"change","z":"6cb9567a.536ba8","name":"Almost empty water bowl","rules":[{"t":"set","p":"TA0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA1","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"TA2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":660,"wires":[[]]},{"id":"da422ed8.eeb5a","type":"change","z":"6cb9567a.536ba8","name":"Almost full water bowl","rules":[{"t":"set","p":"TA0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA2","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"TA3","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":700,"wires":[[]]},{"id":"33c70902.e4aa26","type":"change","z":"6cb9567a.536ba8","name":"Full water bowl","rules":[{"t":"set","p":"TA0","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA1","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA2","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TA3","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":740,"wires":[[]]},{"id":"daa97466.7da568","type":"change","z":"6cb9567a.536ba8","name":"Animal present","rules":[{"t":"set","p":"DP","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":920,"wires":[[]]},{"id":"17d1c1fe.67be6e","type":"change","z":"6cb9567a.536ba8","name":"Animal not present","rules":[{"t":"set","p":"DP","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":880,"wires":[[]]},{"id":"a1950cda.3a2ae","type":"change","z":"6cb9567a.536ba8","name":"Lids open","rules":[{"t":"set","p":"TAMPAABERTA","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1060,"wires":[[]]},{"id":"4c2b2bf5.935084","type":"change","z":"6cb9567a.536ba8","name":"Closed lids","rules":[{"t":"set","p":"TAMPAABERTA","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":1100,"wires":[[]]},{"id":"96256ef7.a058b","type":"StatusUltimate","z":"6cb9567a.536ba8","name":"Status","property":"payload","x":670,"y":220,"wires":[["5aa1f567.b3a5fc"]]},{"id":"eaea969b.b098d8","type":"StatusUltimate","z":"6cb9567a.536ba8","name":"Status","property":"payload","x":670,"y":460,"wires":[["adb03043.560c1"]]},{"id":"40319696.74c6f8","type":"StatusUltimate","z":"6cb9567a.536ba8","name":"Status","property":"payload","x":670,"y":680,"wires":[["aa9f64bb.731508"]]},{"id":"f2f986b0.52adf8","type":"StatusUltimate","z":"6cb9567a.536ba8","name":"Status","property":"payload","x":670,"y":900,"wires":[["88dd9cfc.bb90f"]]},{"id":"dd2897f.27ad768","type":"StatusUltimate","z":"6cb9567a.536ba8","name":"Status","property":"payload","x":670,"y":1080,"wires":[["e9bc477c.be5a18"]]},{"id":"b34a6499.0edf18","type":"inject","z":"86b43268.760b8","name":"Condition to start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"LIGARMOTOR","payloadType":"global","x":270,"y":140,"wires":[["b56ecafa.6f2758"]]},{"id":"1a348b4a.3e3f05","type":"inject","z":"86b43268.760b8","name":"Condition to open","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ABRIRVALVULA","payloadType":"global","x":270,"y":380,"wires":[["d4d776f2.e05d38","651efd91.7cb934"]]},{"id":"273a9d1d.611242","type":"StatusUltimate","z":"86b43268.760b8","name":"Status","property":"payload","x":770,"y":140,"wires":[["9a5194ed.6279f8"]]},{"id":"3fe63206.908f7e","type":"StatusUltimate","z":"86b43268.760b8","name":"Status","property":"payload","x":770,"y":360,"wires":[["c31c4b04.22af88"]]},{"id":"cffca7ae.700cf8","type":"inject","z":"dd8bd46f.2ffec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TAMPAABERTA","payloadType":"global","x":170,"y":80,"wires":[["b3a39c9f.a9802"]]},{"id":"e77ca22e.e522d","type":"switch","z":"dd8bd46f.2ffec8","name":"Lid open?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":80,"wires":[["d5f2b705.f05d38"],["aa4e0a3b.591b58"]]},{"id":"6b1bb087.cc274","type":"change","z":"dd8bd46f.2ffec8","name":"set STOP true","rules":[{"t":"set","p":"PARAGEM","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2100,"y":60,"wires":[["8074eb7f.40a3e8"]]},{"id":"b46d2c70.6084b","type":"change","z":"dd8bd46f.2ffec8","name":"set STOP false","rules":[{"t":"set","p":"PARAGEM","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2100,"y":100,"wires":[["a7487b57.6f9c18"]]},{"id":"4789d732.b6bec8","type":"inject","z":"dd8bd46f.2ffec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PARAGEM","payloadType":"global","x":150,"y":260,"wires":[["8cb7e424.4410e8"]]},{"id":"c8f24c76.64ab5","type":"switch","z":"dd8bd46f.2ffec8","name":"STOP?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":260,"wires":[["d1196961.0ad5e8","db6eaea9.5f66a"],["5d28a245.cb186c","2c6c4023.7a475","19d32aac.37fff5"]]},{"id":"6e504dc2.e8d1c4","type":"switch","z":"dd8bd46f.2ffec8","name":"Empty water bowl?","property":"TA0","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":400,"wires":[[],["4ed37894.b09dd8"]]},{"id":"3207bb2a.19cbe4","type":"change","z":"dd8bd46f.2ffec8","name":"set Open Valve true","rules":[{"t":"set","p":"ABRIRVALVULA","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":420,"wires":[["858c5545.dc2158"]]},{"id":"6839e469.743f5c","type":"change","z":"dd8bd46f.2ffec8","name":"set OPEN VALVE false","rules":[{"t":"set","p":"ABRIRVALVULA","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2120,"y":320,"wires":[["b734c52c.2ac028"]]},{"id":"136d4a93.930455","type":"switch","z":"dd8bd46f.2ffec8","name":"Almost full water bowl?","property":"TA2","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1380,"y":360,"wires":[[],["a874637f.fcde3"]]},{"id":"dc416b4e.4faec8","type":"switch","z":"dd8bd46f.2ffec8","name":"Empty food bowl?","property":"TR0","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":540,"wires":[["d68f9060.7b625"],[]]},{"id":"94aff4b7.72b598","type":"switch","z":"dd8bd46f.2ffec8","name":"Food bowl almost full?","property":"TR2","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":660,"wires":[[],["79873a0f.806574"]]},{"id":"d559653b.9a63b8","type":"change","z":"dd8bd46f.2ffec8","name":"set Motor ON true","rules":[{"t":"set","p":"LIGARMOTOR","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":520,"wires":[["5e597ada.658e04"]]},{"id":"d2f12126.3c2fa","type":"change","z":"dd8bd46f.2ffec8","name":"set Motor On false","rules":[{"t":"set","p":"LIGARMOTOR","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":600,"wires":[["5975b960.d76ea8"]]},{"id":"2efc5253.792efe","type":"switch","z":"dd8bd46f.2ffec8","name":"Empty reservoir?","property":"RR0","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":540,"wires":[["623d525d.cb111c"],["352ce935.12fc96"]]},{"id":"b3a39c9f.a9802","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":350,"y":80,"wires":[["e77ca22e.e522d"]]},{"id":"8cb7e424.4410e8","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":350,"y":260,"wires":[["c8f24c76.64ab5"]]},{"id":"8074eb7f.40a3e8","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":2290,"y":60,"wires":[[]]},{"id":"a7487b57.6f9c18","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":2290,"y":100,"wires":[[]]},{"id":"858c5545.dc2158","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":2290,"y":420,"wires":[[]]},{"id":"b734c52c.2ac028","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":2290,"y":320,"wires":[[]]},{"id":"5e597ada.658e04","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":2290,"y":520,"wires":[[]]},{"id":"5975b960.d76ea8","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":2290,"y":600,"wires":[[]]},{"id":"4ed37894.b09dd8","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1910,"y":400,"wires":[["3207bb2a.19cbe4"]]},{"id":"a874637f.fcde3","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1910,"y":360,"wires":[["6839e469.743f5c"]]},{"id":"d68f9060.7b625","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1150,"y":540,"wires":[["2efc5253.792efe"]]},{"id":"79873a0f.806574","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1910,"y":660,"wires":[["d2f12126.3c2fa"]]},{"id":"352ce935.12fc96","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1590,"y":560,"wires":[["d2f12126.3c2fa"]]},{"id":"623d525d.cb111c","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1590,"y":520,"wires":[["ba1a00eb.f8dca"]]},{"id":"d5f2b705.f05d38","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1910,"y":60,"wires":[["6b1bb087.cc274"]]},{"id":"aa4e0a3b.591b58","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1910,"y":100,"wires":[["b46d2c70.6084b"]]},{"id":"5d28a245.cb186c","type":"switch","z":"dd8bd46f.2ffec8","name":"PIR?","property":"DP","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":300,"wires":[["c469470c.512158"],["6017a52f.82d63c"]]},{"id":"6017a52f.82d63c","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1150,"y":380,"wires":[["136d4a93.930455","108969f1.0ca926","6e504dc2.e8d1c4","6e8d60a6.ab154"]]},{"id":"2c6c4023.7a475","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":730,"y":560,"wires":[["dc416b4e.4faec8","1ece622.333499e"]]},{"id":"19d32aac.37fff5","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":730,"y":640,"wires":[["94aff4b7.72b598","9fe2f155.1b1f1"]]},{"id":"9fe2f155.1b1f1","type":"switch","z":"dd8bd46f.2ffec8","name":"Food bowl full?","property":"TR3","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":620,"wires":[[],["a2635e49.0329b"]]},{"id":"a2635e49.0329b","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1910,"y":620,"wires":[["d2f12126.3c2fa"]]},{"id":"6e8d60a6.ab154","type":"switch","z":"dd8bd46f.2ffec8","name":"Almost empty water bowl?","property":"TA1","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":440,"wires":[[],["2ceec3c0.d447bc"]]},{"id":"2ceec3c0.d447bc","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1910,"y":440,"wires":[["3207bb2a.19cbe4"]]},{"id":"c469470c.512158","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1910,"y":280,"wires":[["6839e469.743f5c"]]},{"id":"108969f1.0ca926","type":"switch","z":"dd8bd46f.2ffec8","name":"Full water bowl?","property":"TA3","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1360,"y":320,"wires":[[],["1ff17ab.3ca7285"]]},{"id":"1ff17ab.3ca7285","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1910,"y":320,"wires":[["6839e469.743f5c"]]},{"id":"1ece622.333499e","type":"switch","z":"dd8bd46f.2ffec8","name":"Almost empty food bowl?","property":"TR1","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":580,"wires":[["3794e07.d205b2"],[]]},{"id":"3794e07.d205b2","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1150,"y":580,"wires":[["2efc5253.792efe"]]},{"id":"4b5d7494.465e7c","type":"inject","z":"dd8bd46f.2ffec8","name":"30s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":760,"wires":[["a944e3a0.d31e4"]]},{"id":"c55a371b.36f8d8","type":"inject","z":"8d15e7b0.662468","name":"Lid Opened","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TAMPAABERTA","payloadType":"global","x":150,"y":120,"wires":[["cc0cd229.0c3e9"]]},{"id":"edde98c7.c55a58","type":"switch","z":"8d15e7b0.662468","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":120,"wires":[["d74c38af.a578a8"],["474c1714.82e2e8"]]},{"id":"3dbb457.ba442ba","type":"function","z":"8d15e7b0.662468","name":"Opened lid warning","func":"msg.payload = \"Tampa aberta\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":100,"wires":[["e8844e4e.29e48"]]},{"id":"cf6d5a43.009648","type":"inject","z":"8d15e7b0.662468","name":"PIR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"DP","payloadType":"global","x":130,"y":260,"wires":[["4c38f91e.e59a28"]]},{"id":"d963322b.d2117","type":"switch","z":"8d15e7b0.662468","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":260,"wires":[["f2ca304.d4bc2d"],["b54d8e28.21fe9"]]},{"id":"5991289f.e50658","type":"function","z":"8d15e7b0.662468","name":"PIR warning","func":"msg.payload = \"Presença de animal\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":240,"wires":[["734ca779.8bb308"]]},{"id":"d74c38af.a578a8","type":"StatusUltimate","z":"8d15e7b0.662468","name":"Status","property":"payload","x":710,"y":100,"wires":[["3dbb457.ba442ba"]]},{"id":"f2ca304.d4bc2d","type":"StatusUltimate","z":"8d15e7b0.662468","name":"Status","property":"payload","x":710,"y":240,"wires":[["5991289f.e50658","6eb5505c.661c2"]]},{"id":"cc0cd229.0c3e9","type":"StatusUltimate","z":"8d15e7b0.662468","name":"Status","property":"payload","x":390,"y":120,"wires":[["edde98c7.c55a58"]]},{"id":"4c38f91e.e59a28","type":"StatusUltimate","z":"8d15e7b0.662468","name":"Status","property":"payload","x":390,"y":260,"wires":[["d963322b.d2117"]]},{"id":"648237ca.0837a8","type":"inject","z":"8d15e7b0.662468","name":"Open valve","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ABRIRVALVULA","payloadType":"global","x":150,"y":400,"wires":[["12f9d7d7.528278"]]},{"id":"e12c517a.84ba2","type":"switch","z":"8d15e7b0.662468","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":400,"wires":[["dcba6c31.f1927"],["25644021.e81ab"]]},{"id":"2571791b.5165a6","type":"function","z":"8d15e7b0.662468","name":"pedir para abrir valvula","func":"msg.payload = \"Abrir Valvula\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":380,"wires":[[]]},{"id":"dcba6c31.f1927","type":"StatusUltimate","z":"8d15e7b0.662468","name":"Status","property":"payload","x":710,"y":380,"wires":[["2571791b.5165a6"]]},{"id":"12f9d7d7.528278","type":"StatusUltimate","z":"8d15e7b0.662468","name":"Status","property":"payload","x":390,"y":400,"wires":[["e12c517a.84ba2"]]},{"id":"a18d4edf.fb96e","type":"inject","z":"8d15e7b0.662468","name":"Motor On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"LIGARMOTOR","payloadType":"global","x":150,"y":540,"wires":[["4f8e4e70.452be"]]},{"id":"7508a38d.83bd7c","type":"switch","z":"8d15e7b0.662468","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":540,"wires":[["bc74e1b.8d57b2"],["9bd7b4e9.079808"]]},{"id":"7383614e.9a492","type":"function","z":"8d15e7b0.662468","name":"pedido para desligar motor","func":"msg.payload = \"desligar motor\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":520,"wires":[[]]},{"id":"bc74e1b.8d57b2","type":"StatusUltimate","z":"8d15e7b0.662468","name":"Status","property":"payload","x":710,"y":520,"wires":[["7383614e.9a492"]]},{"id":"4f8e4e70.452be","type":"StatusUltimate","z":"8d15e7b0.662468","name":"Status","property":"payload","x":390,"y":540,"wires":[["7508a38d.83bd7c"]]},{"id":"8127298b.5af068","type":"function","z":"8d15e7b0.662468","name":"Closed lid warning","func":"msg.payload = \"Tampa fechada\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":140,"wires":[[]]},{"id":"474c1714.82e2e8","type":"StatusUltimate","z":"8d15e7b0.662468","name":"Status","property":"payload","x":710,"y":140,"wires":[["8127298b.5af068"]]},{"id":"e1ea6c4f.20797","type":"function","z":"8d15e7b0.662468","name":"Not PIR warning","func":"msg.payload = \"não existe presença de animal\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":280,"wires":[[]]},{"id":"b54d8e28.21fe9","type":"StatusUltimate","z":"8d15e7b0.662468","name":"Status","property":"payload","x":710,"y":280,"wires":[["e1ea6c4f.20797","3fb6ff31.bdf2e"]]},{"id":"80af6ba8.909808","type":"function","z":"8d15e7b0.662468","name":"pedir para fechar valvula","func":"msg.payload = \"fechar Valvula\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":420,"wires":[[]]},{"id":"25644021.e81ab","type":"StatusUltimate","z":"8d15e7b0.662468","name":"Status","property":"payload","x":710,"y":420,"wires":[["80af6ba8.909808"]]},{"id":"cae234de.87b938","type":"function","z":"8d15e7b0.662468","name":"pedido ligar motor","func":"msg.payload = \"ligar motor\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":560,"wires":[[]]},{"id":"9bd7b4e9.079808","type":"StatusUltimate","z":"8d15e7b0.662468","name":"Status","property":"payload","x":710,"y":560,"wires":[["cae234de.87b938"]]},{"id":"2e2b46ff.0fb19a","type":"comment","z":"876783b9.2928b","name":"DB - PIR","info":"","x":840,"y":340,"wires":[]},{"id":"ae9217f.202a0e8","type":"comment","z":"876783b9.2928b","name":"DB - Reservoir level","info":"","x":870,"y":460,"wires":[]},{"id":"44e64ec1.038ff","type":"comment","z":"876783b9.2928b","name":"DB - Feed bowl level","info":"","x":870,"y":560,"wires":[]},{"id":"b6fa59f2.332858","type":"comment","z":"876783b9.2928b","name":"DB - Water bowl level","info":"","x":880,"y":680,"wires":[]},{"id":"1c0b0bdd.12c084","type":"ui_text","z":"cb6acb82.65ea48","group":"3317d8e91d680919","order":1,"width":0,"height":0,"name":"","label":"Valve","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1170,"y":600,"wires":[]},{"id":"bd29862f.f3d968","type":"inject","z":"cb6acb82.65ea48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ABRIRVALVULA","payloadType":"global","x":150,"y":600,"wires":[["12ea24e5.7a0dcb"]]},{"id":"8b9d5a55.f370d8","type":"switch","z":"6cb9567a.536ba8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":1020,"wires":[["334ebe47.a21a22"],["d421ddcd.21139"]]},{"id":"69056abf.fa5604","type":"inject","z":"cb6acb82.65ea48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"LIGARMOTOR","payloadType":"global","x":160,"y":680,"wires":[["115e016.b9b51ff"]]},{"id":"4a1c6951.be3568","type":"ui_text","z":"cb6acb82.65ea48","group":"3317d8e91d680919","order":2,"width":0,"height":0,"name":"","label":"motor","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1170,"y":680,"wires":[]},{"id":"2ab00614.2778ba","type":"function","z":"cb6acb82.65ea48","name":"warning open valve","func":"msg.payload = \"Open the valve\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":580,"wires":[["1c0b0bdd.12c084"]]},{"id":"12ea24e5.7a0dcb","type":"switch","z":"cb6acb82.65ea48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":600,"wires":[["2ab00614.2778ba"],["1af96246.2bbfce"]]},{"id":"1af96246.2bbfce","type":"function","z":"cb6acb82.65ea48","name":"warning close valve","func":"msg.payload = \"Close valve\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":620,"wires":[["1c0b0bdd.12c084"]]},{"id":"1131e233.340f4e","type":"function","z":"cb6acb82.65ea48","name":"warning start motor","func":"msg.payload = \"Turn On motor\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":660,"wires":[["4a1c6951.be3568"]]},{"id":"115e016.b9b51ff","type":"switch","z":"cb6acb82.65ea48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":680,"wires":[["1131e233.340f4e"],["6b257c69.7901c4"]]},{"id":"334ebe47.a21a22","type":"change","z":"6cb9567a.536ba8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1000,"wires":[["dd2897f.27ad768"]]},{"id":"d421ddcd.21139","type":"change","z":"6cb9567a.536ba8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1040,"wires":[["dd2897f.27ad768"]]},{"id":"4d358755.67f928","type":"switch","z":"6cb9567a.536ba8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":840,"wires":[["3d6ceb49.b48da4"],["2743ecaf.0e2d34"]]},{"id":"3d6ceb49.b48da4","type":"change","z":"6cb9567a.536ba8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":820,"wires":[["f2f986b0.52adf8"]]},{"id":"2743ecaf.0e2d34","type":"change","z":"6cb9567a.536ba8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":860,"wires":[["f2f986b0.52adf8"]]},{"id":"529ecc92.10ee04","type":"change","z":"cb6acb82.65ea48","name":"","rules":[{"t":"set","p":"hhora","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":540,"wires":[[]]},{"id":"dc98cf1.1b62d3","type":"ui_text_input","z":"cb6acb82.65ea48","name":"","label":"Feed Time","tooltip":"12:30","group":"3317d8e91d680919","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":190,"y":540,"wires":[["529ecc92.10ee04"]]},{"id":"6b257c69.7901c4","type":"function","z":"cb6acb82.65ea48","name":"warning turn off motor","func":"msg.payload = \"Turn off motor\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":700,"wires":[["4a1c6951.be3568"]]},{"id":"1cfa94f5.0fb36b","type":"change","z":"dd8bd46f.2ffec8","name":"set Feed Time true","rules":[{"t":"set","p":"horaracao","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":800,"wires":[[]]},{"id":"51f1184d.0ba558","type":"change","z":"dd8bd46f.2ffec8","name":"set Feed Time false","rules":[{"t":"set","p":"horaracao","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":840,"wires":[[]]},{"id":"fa2a9f6e.483fe","type":"inject","z":"cb6acb82.65ea48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"horaracao","payloadType":"global","x":170,"y":460,"wires":[["35e9833d.2eba0c","8a22311f.ea025"]]},{"id":"35e9833d.2eba0c","type":"ui_text","z":"cb6acb82.65ea48","group":"3317d8e91d680919","order":3,"width":0,"height":0,"name":"","label":"Feed Time","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1190,"y":460,"wires":[]},{"id":"ba1a00eb.f8dca","type":"switch","z":"dd8bd46f.2ffec8","name":"Feed time?","property":"dose","propertyType":"global","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1750,"y":520,"wires":[["5c779a0b.185b24"],[]]},{"id":"db6eaea9.5f66a","type":"change","z":"dd8bd46f.2ffec8","name":"set MOTOR ON false","rules":[{"t":"set","p":"LIGARMOTOR","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":220,"wires":[[]]},{"id":"d1196961.0ad5e8","type":"change","z":"dd8bd46f.2ffec8","name":"set OPEN VALVE false","rules":[{"t":"set","p":"ABRIRVALVULA","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":180,"wires":[[]]},{"id":"b43e837c.de44f","type":"link in","z":"6cb9567a.536ba8","name":"resracao","links":["770fc940.2ac0c8"],"x":355,"y":260,"wires":[["96256ef7.a058b","973b47bc.9a8028","75ae75cb.20b5ec"]]},{"id":"5ce1d674.2f3bc8","type":"ui_dropdown","z":"cb6acb82.65ea48","name":"reser raçao","label":"Feed reservoir","tooltip":"","place":"Reservoir level","group":"3317d8e91d680919","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"20%","value":"20","type":"str"},{"label":"45%","value":"45","type":"str"},{"label":"55%","value":"55","type":"str"},{"label":"95%","value":"95","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":100,"wires":[["770fc940.2ac0c8","40b2ee8f.fac0a"]]},{"id":"770fc940.2ac0c8","type":"link out","z":"cb6acb82.65ea48","name":"resracao","links":["b43e837c.de44f"],"x":335,"y":80,"wires":[]},{"id":"7a94bca3.7ad744","type":"link in","z":"6cb9567a.536ba8","name":"tacaracao","links":["bc78ffe.767a6"],"x":355,"y":500,"wires":[[]]},{"id":"8f926904.82a228","type":"ui_dropdown","z":"cb6acb82.65ea48","name":"taça raçao","label":"Bowl of food","tooltip":"","place":"Feed bowl level","group":"3317d8e91d680919","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"20%","value":"20","type":"str"},{"label":"45%","value":"45","type":"str"},{"label":"55%","value":"55","type":"str"},{"label":"95%","value":"95","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":140,"wires":[["bc78ffe.767a6"]]},{"id":"bc78ffe.767a6","type":"link out","z":"cb6acb82.65ea48","name":"resracao","links":["7a94bca3.7ad744"],"x":335,"y":140,"wires":[]},{"id":"7ded9bf3.f290a4","type":"link in","z":"6cb9567a.536ba8","name":"tacaagua","links":["5590b439.a802ac"],"x":355,"y":720,"wires":[[]]},{"id":"3403c285.1fd73e","type":"ui_dropdown","z":"cb6acb82.65ea48","name":"taca agua","label":"Water bowl","tooltip":"","place":"water bowl level","group":"3317d8e91d680919","order":6,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"20%","value":"20","type":"str"},{"label":"45%","value":"45","type":"str"},{"label":"55%","value":"55","type":"str"},{"label":"95%","value":"95","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":200,"y":180,"wires":[["5590b439.a802ac"]]},{"id":"5590b439.a802ac","type":"link out","z":"cb6acb82.65ea48","name":"tacaagua","links":["7ded9bf3.f290a4","7b45bd5c.7e3114"],"x":335,"y":180,"wires":[]},{"id":"5942cc9.0941234","type":"ui_switch","z":"cb6acb82.65ea48","name":"","label":"PIR","tooltip":"","group":"3317d8e91d680919","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":210,"y":220,"wires":[["12662a85.b2ceb5","253add5b.648a32"]]},{"id":"12662a85.b2ceb5","type":"link out","z":"cb6acb82.65ea48","name":"presenca","links":["2234146c.69ff9c"],"x":335,"y":220,"wires":[]},{"id":"2234146c.69ff9c","type":"link in","z":"6cb9567a.536ba8","name":"presenca","links":["12662a85.b2ceb5"],"x":115,"y":840,"wires":[[]]},{"id":"1d84145c.8ee10c","type":"link in","z":"6cb9567a.536ba8","name":"tampa","links":["a7adeef3.5b02f"],"x":115,"y":1020,"wires":[[]]},{"id":"c3a8cdf8.6dfb5","type":"ui_switch","z":"cb6acb82.65ea48","name":"","label":"Open lid","tooltip":"","group":"3317d8e91d680919","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":200,"y":260,"wires":[["a7adeef3.5b02f"]]},{"id":"a7adeef3.5b02f","type":"link out","z":"cb6acb82.65ea48","name":"tampa","links":["1d84145c.8ee10c"],"x":335,"y":260,"wires":[]},{"id":"21aa2e8c.3cd522","type":"ui_switch","z":"cb6acb82.65ea48","name":"","label":"Valve status","tooltip":"","group":"3317d8e91d680919","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":190,"y":300,"wires":[["47267d82.fcd764"]]},{"id":"47267d82.fcd764","type":"link out","z":"cb6acb82.65ea48","name":"valvula","links":["1faabf07.797ba1"],"x":335,"y":300,"wires":[]},{"id":"e001790d.3a3128","type":"ui_switch","z":"cb6acb82.65ea48","name":"","label":"Motor Status","tooltip":"","group":"3317d8e91d680919","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":190,"y":340,"wires":[["5946f061.400ed"]]},{"id":"5946f061.400ed","type":"link out","z":"cb6acb82.65ea48","name":"motor","links":["f4dc2cc4.e87cc"],"x":335,"y":340,"wires":[]},{"id":"e8844e4e.29e48","type":"link out","z":"8d15e7b0.662468","name":"tampaaberta","links":["d3f78cc4.96dcd"],"x":1135,"y":100,"wires":[]},{"id":"d3f78cc4.96dcd","type":"link in","z":"cb6acb82.65ea48","name":"tampaaberta","links":["e8844e4e.29e48"],"x":815,"y":300,"wires":[["797bce3a.0e865"]]},{"id":"b648711a.c113c","type":"ui_toast","z":"cb6acb82.65ea48","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1210,"y":300,"wires":[]},{"id":"797bce3a.0e865","type":"function","z":"cb6acb82.65ea48","name":"popup lid","func":"msg.payload = \"WARNING - COVER OPEN\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":300,"wires":[["b648711a.c113c"]]},{"id":"734ca779.8bb308","type":"link out","z":"8d15e7b0.662468","name":"animal","links":["f86617e4.aa9128"],"x":1135,"y":240,"wires":[]},{"id":"f86617e4.aa9128","type":"link in","z":"cb6acb82.65ea48","name":"animal","links":["734ca779.8bb308","1bc2b05f.1e838"],"x":815,"y":340,"wires":[["58eb0a2d.ca1e34"]]},{"id":"b61cbe7a.b679d","type":"ui_toast","z":"cb6acb82.65ea48","position":"top right","displayTime":"1","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1210,"y":340,"wires":[]},{"id":"58eb0a2d.ca1e34","type":"function","z":"cb6acb82.65ea48","name":"popup PIR","func":"msg.payload = \"NOTICE - ANIMAL DETECTION\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":340,"wires":[["b61cbe7a.b679d"]]},{"id":"74c8e335.09772c","type":"ui_toast","z":"cb6acb82.65ea48","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1200,"y":500,"wires":[]},{"id":"7150c2bb.752a8c","type":"function","z":"cb6acb82.65ea48","name":"popup feed time","func":"msg.payload = \"Feed time\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":500,"wires":[["74c8e335.09772c"]]},{"id":"8a22311f.ea025","type":"switch","z":"cb6acb82.65ea48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":500,"wires":[["7150c2bb.752a8c"],[]]},{"id":"c97d2864.55cf88","type":"ui_chart","z":"cb6acb82.65ea48","name":"","group":"5ac797bd.ef27d8","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1,5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1170,"y":420,"wires":[[]]},{"id":"6eb5505c.661c2","type":"change","z":"8d15e7b0.662468","name":"","rules":[{"t":"set","p":"pt","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":200,"wires":[[]]},{"id":"3fb6ff31.bdf2e","type":"change","z":"8d15e7b0.662468","name":"","rules":[{"t":"set","p":"pt","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":320,"wires":[[]]},{"id":"d6905d0f.51257","type":"inject","z":"cb6acb82.65ea48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"pt","payloadType":"global","x":200,"y":420,"wires":[["c97d2864.55cf88"]]},{"id":"5aa1f567.b3a5fc","type":"switch","z":"6cb9567a.536ba8","name":"Reservoir switch","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"25","v2t":"num"},{"t":"btwn","v":"26","vt":"num","v2":"50","v2t":"num"},{"t":"btwn","v":"51","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":4,"x":820,"y":220,"wires":[["e1bfdd01.daac3","ec0a5dca.737f1","aa22f0f0.388f4"],["f0a989f1.6385d8","5c1b45a8.76028c"],["8f605d3d.5ca29"],["1c8a74c7.6ab51b"]]},{"id":"adb03043.560c1","type":"switch","z":"6cb9567a.536ba8","name":"Feed bowl switch","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"25","v2t":"num"},{"t":"btwn","v":"26","vt":"num","v2":"50","v2t":"num"},{"t":"btwn","v":"51","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":4,"x":830,"y":460,"wires":[["8f03323a.43a13"],["c09ae2a6.67409"],["76ae4c72.f8c7d4"],["bc5d1e15.177a6"]]},{"id":"aa9f64bb.731508","type":"switch","z":"6cb9567a.536ba8","name":"Water bowl switch","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"25","v2t":"num"},{"t":"btwn","v":"26","vt":"num","v2":"50","v2t":"num"},{"t":"btwn","v":"51","vt":"num","v2":"75","v2t":"num"},{"t":"btwn","v":"76","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":4,"x":830,"y":680,"wires":[["deaf4828.da4ee8"],["68894615.8db978"],["da422ed8.eeb5a"],["33c70902.e4aa26"]]},{"id":"40b2ee8f.fac0a","type":"ui_gauge","z":"cb6acb82.65ea48","name":"","group":"1e33d972.6ab2c7","order":1,"width":0,"height":0,"gtype":"wave","title":"Ration Reservoir","label":" %","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1210,"y":100,"wires":[]},{"id":"3e5d0da9.a38822","type":"ui_gauge","z":"cb6acb82.65ea48","name":"","group":"8427972e.288bb8","order":1,"width":0,"height":0,"gtype":"wave","title":"Ration bowl","label":" %","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1190,"y":140,"wires":[]},{"id":"d7d1e152.a4a83","type":"ui_gauge","z":"cb6acb82.65ea48","name":"","group":"b07aea19.d406b8","order":1,"width":0,"height":0,"gtype":"wave","title":"Water bowl","label":" %","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1190,"y":180,"wires":[]},{"id":"176029fe.c203b6","type":"ui_gauge","z":"cb6acb82.65ea48","name":"","group":"5ac797bd.ef27d8","order":1,"width":0,"height":0,"gtype":"compass","title":"Animal detection","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1200,"y":220,"wires":[]},{"id":"f845d9f.5c66728","type":"ui_gauge","z":"cb6acb82.65ea48","name":"","group":"b6656a5a.8a24b8","order":1,"width":0,"height":0,"gtype":"compass","title":"Open lid","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1180,"y":260,"wires":[]},{"id":"c9d8f3a2.af3e7","type":"comment","z":"6cb9567a.536ba8","name":"MQTT Reservoir","info":"","x":180,"y":60,"wires":[]},{"id":"25a6589.0af6ea8","type":"comment","z":"6cb9567a.536ba8","name":"MQTT Feed bowl","info":"","x":180,"y":340,"wires":[]},{"id":"99a626a4.b00468","type":"comment","z":"6cb9567a.536ba8","name":"MQTT Water bowl","info":"","x":190,"y":560,"wires":[]},{"id":"fd024acd.ff8628","type":"comment","z":"6cb9567a.536ba8","name":"MQTT PIR","info":"","x":160,"y":800,"wires":[]},{"id":"ea42871d.e36fa8","type":"comment","z":"6cb9567a.536ba8","name":"MQTT Lids","info":"","x":160,"y":980,"wires":[]},{"id":"8bca5939.897488","type":"comment","z":"6cb9567a.536ba8","name":"MQTT Bowls","info":"","x":170,"y":1160,"wires":[]},{"id":"edf81318.f403a","type":"mqtt in","z":"6cb9567a.536ba8","name":"Subscribe: esp32/sw1","topic":"esp32/sw1","qos":"1","datatype":"auto","broker":"274a5923.348926","x":280,"y":1080,"wires":[["dd2897f.27ad768","688ec601.f9c238","c0225740.e806b8"]]},{"id":"f41ad924.5d2568","type":"mqtt in","z":"6cb9567a.536ba8","name":"Subscribe: esp32/sw2","topic":"esp32/sw2","qos":"1","datatype":"auto","broker":"274a5923.348926","x":280,"y":1220,"wires":[["dd2897f.27ad768","688ec601.f9c238","c0225740.e806b8"]]},{"id":"17ce3c1d.422794","type":"mqtt in","z":"6cb9567a.536ba8","name":"Subscribe: esp32/pir","topic":"esp32/pir","qos":"1","datatype":"auto","broker":"274a5923.348926","x":270,"y":900,"wires":[["f2f986b0.52adf8","8beefc9c.60c07"]]},{"id":"da567c73.2b7ac","type":"mqtt in","z":"6cb9567a.536ba8","name":"Subscribe: esp32/s1","topic":"esp32/s1","qos":"1","datatype":"auto","broker":"274a5923.348926","x":270,"y":220,"wires":[[]]},{"id":"df071e25.5f6a4","type":"mqtt in","z":"6cb9567a.536ba8","name":"Subscribe: esp32/s2","topic":"esp32/s2","qos":"1","datatype":"auto","broker":"274a5923.348926","x":270,"y":460,"wires":[["eaea969b.b098d8","25c9ee36.10aa22"]]},{"id":"a0cfe14b.9c332","type":"mqtt in","z":"6cb9567a.536ba8","name":"Subscribe: esp32/s3","topic":"esp32/s3","qos":"1","datatype":"auto","broker":"274a5923.348926","x":270,"y":680,"wires":[["40319696.74c6f8","e3d12620.fc3128"]]},{"id":"e901ed2d.a9592","type":"comment","z":"6cb9567a.536ba8","name":"MQTT Force motor","info":"","x":190,"y":1300,"wires":[]},{"id":"bf5f97ed.641f08","type":"mqtt in","z":"6cb9567a.536ba8","name":"Subscribe: esp32/bt1","topic":"esp32/bt1","qos":"1","datatype":"auto","broker":"274a5923.348926","x":280,"y":1380,"wires":[["ade201f7.cabe6","e861b870.77eb38"]]},{"id":"ade201f7.cabe6","type":"link out","z":"6cb9567a.536ba8","name":"fmotor","links":["f7562bcb.e01318"],"x":1175,"y":1380,"wires":[]},{"id":"f7562bcb.e01318","type":"link in","z":"dd8bd46f.2ffec8","name":"","links":["ade201f7.cabe6"],"x":215,"y":980,"wires":[["6d0ef070.08df7"]]},{"id":"6d0ef070.08df7","type":"switch","z":"dd8bd46f.2ffec8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":980,"wires":[["2f33cc04.974d34"],[]]},{"id":"682f6fe5.87c37","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":730,"y":800,"wires":[["1cfa94f5.0fb36b"]]},{"id":"718cfee9.e93ad","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":730,"y":840,"wires":[["51f1184d.0ba558"]]},{"id":"5b872884.ede358","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":730,"y":980,"wires":[["e3e3c045.573cc"]]},{"id":"8917af46.afc0c","type":"mqtt out","z":"86b43268.760b8","name":"Publish: esp32/valve","topic":"esp32/valve","qos":"","retain":"","broker":"274a5923.348926","x":1280,"y":380,"wires":[]},{"id":"c48e282c.78fed8","type":"mqtt out","z":"86b43268.760b8","name":"Publish: esp32/motor","topic":"esp32/motor","qos":"","retain":"","broker":"274a5923.348926","x":1280,"y":140,"wires":[]},{"id":"a4492bd3.fccb58","type":"ui_table","z":"cb6acb82.65ea48","group":"30568ec5.855672","name":"Detections","order":11,"width":"14","height":"20","columns":[{"field":"id","title":"ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"time_stamp","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1190,"y":380,"wires":[]},{"id":"c583774a.c30678","type":"function","z":"dd8bd46f.2ffec8","name":"Time DB = real time","func":"// Extrai os dados da consulta SQL\nvar dados = msg.payload;\n\n// Obtém a hora atual\n//var agora = global.horaactual;\nvar agora = global.get('horaactual');\n//var horaAtual = agora.getHours() + ':' + agora.getMinutes() + ':' + agora.getSeconds();\n\n// Cria um array para armazenar os dados\n//var resultados = [];\n\n// Itera sobre cada linha retornada pela consulta\nfor (var i = 0; i < dados.length; i++) {\n  // Extrai a hora de cada linha\n  var hora = dados[i].hora;\n\n  // Testa se a hora da linha é igual à hora atual\n  if (hora == agora) {\n   msg.payload = true\n   global.set('posicao',i);\n   global.set('fal',1);\n  } else {\n   msg.payload = false\n   global.set('dose',0);\n   global.set('fal',0);\n   \n  }\n}\n\n// Retorna os resultados\n//msg.payload = resultados;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":820,"wires":[["c1d5df40.7d903"]]},{"id":"c1d5df40.7d903","type":"switch","z":"dd8bd46f.2ffec8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":820,"wires":[["682f6fe5.87c37"],["718cfee9.e93ad"]]},{"id":"6f58013b.ae32e","type":"comment","z":"876783b9.2928b","name":"DB - Mobile phone notifications","info":"","x":910,"y":800,"wires":[]},{"id":"5758b9.17d45748","type":"link in","z":"876783b9.2928b","name":"","links":["3303626f.788d8e","c0225740.e806b8"],"x":255,"y":820,"wires":[["1045387.d9bafc8"]]},{"id":"26c95494.65abcc","type":"mysql","z":"876783b9.2928b","mydb":"d24e982.8771e68","name":"","x":870,"y":500,"wires":[[]]},{"id":"da7f41f9.e83de","type":"mysql","z":"876783b9.2928b","mydb":"d24e982.8771e68","name":"","x":870,"y":380,"wires":[[]]},{"id":"9dab66c2.9c7018","type":"mysql","z":"876783b9.2928b","mydb":"d24e982.8771e68","name":"","x":870,"y":720,"wires":[[]]},{"id":"2a25c6dc.b95e8a","type":"mysql","z":"876783b9.2928b","mydb":"d24e982.8771e68","name":"","x":870,"y":600,"wires":[[]]},{"id":"2cc6728f.3b2a2e","type":"mysql","z":"876783b9.2928b","mydb":"d24e982.8771e68","name":"","x":870,"y":840,"wires":[[]]},{"id":"a944e3a0.d31e4","type":"moment","z":"dd8bd46f.2ffec8","name":"hora actual","topic":"","input":"","inputType":"msg","inTz":"Europe/Lisbon","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"pt-PT","output":"payload","outputType":"msg","outTz":"Europe/Lisbon","x":530,"y":760,"wires":[["15789bb6.b028d4"]]},{"id":"15789bb6.b028d4","type":"change","z":"dd8bd46f.2ffec8","name":"Real time","rules":[{"t":"set","p":"horaactual","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2080,"y":760,"wires":[[]]},{"id":"496617eb.6afda8","type":"comment","z":"876783b9.2928b","name":"DB - Dose number","info":"","x":870,"y":60,"wires":[]},{"id":"96374942.d2d718","type":"inject","z":"876783b9.2928b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"select Dosagem_racao as doses from horarios where ID_comedouro=1 and hour(Hora)=hour(current_timestamp()) and minute(Hora)=minute(current_timestamp())","payload":"","payloadType":"date","x":210,"y":100,"wires":[["f2b83f8f.625ff"]]},{"id":"f2b83f8f.625ff","type":"mysql","z":"876783b9.2928b","mydb":"d24e982.8771e68","name":"","x":870,"y":100,"wires":[["978325e6.813f78","9d17f6fb.b746b8"]]},{"id":"978325e6.813f78","type":"link out","z":"876783b9.2928b","name":"doses","links":["f775ae0b.7ab72","94c16aa6.394d18"],"x":1055,"y":100,"wires":[]},{"id":"d09f956b.78dbd8","type":"change","z":"86b43268.760b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"dose","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[["273a9d1d.611242"]]},{"id":"18e370c0.e6e39f","type":"change","z":"dd8bd46f.2ffec8","name":"Set N feed","rules":[{"t":"set","p":"dose","pt":"global","to":"payload[0].doses","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2090,"y":880,"wires":[[]]},{"id":"b56ecafa.6f2758","type":"switch","z":"86b43268.760b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":140,"wires":[["d09f956b.78dbd8"]]},{"id":"d4d776f2.e05d38","type":"switch","z":"86b43268.760b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":380,"wires":[["4e011d7a.b69614"],["d668b0e2.d0a24"]]},{"id":"f776cb2d.a718c8","type":"StatusUltimate","z":"6cb9567a.536ba8","name":"Status","property":"payload","x":1070,"y":880,"wires":[["17d1c1fe.67be6e"]]},{"id":"475e450.a41b0bc","type":"StatusUltimate","z":"6cb9567a.536ba8","name":"Status","property":"payload","x":1070,"y":920,"wires":[["daa97466.7da568"]]},{"id":"4e011d7a.b69614","type":"change","z":"86b43268.760b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":360,"wires":[["3fe63206.908f7e"]]},{"id":"e93a7b46.b41438","type":"StatusUltimate","z":"86b43268.760b8","name":"Status","property":"payload","x":770,"y":400,"wires":[["c31c4b04.22af88"]]},{"id":"d668b0e2.d0a24","type":"change","z":"86b43268.760b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":400,"wires":[["e93a7b46.b41438"]]},{"id":"25c9ee36.10aa22","type":"link out","z":"6cb9567a.536ba8","name":"tr1","links":["94d460ef.d3835","87672b99.cfbfa8"],"x":1175,"y":560,"wires":[]},{"id":"e3d12620.fc3128","type":"link out","z":"6cb9567a.536ba8","name":"ta1","links":["e7a92e38.00447","c2050f3b.4fea9"],"x":1175,"y":780,"wires":[]},{"id":"8beefc9c.60c07","type":"link out","z":"6cb9567a.536ba8","name":"prt","links":["430dd861.9e5098"],"x":1175,"y":960,"wires":[]},{"id":"688ec601.f9c238","type":"link out","z":"6cb9567a.536ba8","name":"t","links":["6ddd4393.85f1bc"],"x":1175,"y":1220,"wires":[]},{"id":"94d460ef.d3835","type":"link in","z":"cb6acb82.65ea48","name":"","links":["25c9ee36.10aa22"],"x":815,"y":140,"wires":[["3e5d0da9.a38822"]]},{"id":"e7a92e38.00447","type":"link in","z":"cb6acb82.65ea48","name":"","links":["e3d12620.fc3128"],"x":815,"y":180,"wires":[["d7d1e152.a4a83"]]},{"id":"430dd861.9e5098","type":"link in","z":"cb6acb82.65ea48","name":"","links":["8beefc9c.60c07"],"x":815,"y":220,"wires":[["176029fe.c203b6"]]},{"id":"6ddd4393.85f1bc","type":"link in","z":"cb6acb82.65ea48","name":"","links":["688ec601.f9c238"],"x":815,"y":260,"wires":[["f845d9f.5c66728"]]},{"id":"2f33cc04.974d34","type":"change","z":"dd8bd46f.2ffec8","name":"3 times","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":980,"wires":[["5b872884.ede358"]]},{"id":"c31c4b04.22af88","type":"rbe","z":"86b43268.760b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":380,"wires":[["8917af46.afc0c","e044bd62.e4846"]]},{"id":"9a5194ed.6279f8","type":"rbe","z":"86b43268.760b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":140,"wires":[["c48e282c.78fed8","ba7730ed.92ef7"]]},{"id":"5c779a0b.185b24","type":"StatusUltimate","z":"dd8bd46f.2ffec8","name":"Status","property":"payload","x":1910,"y":520,"wires":[["d559653b.9a63b8"]]},{"id":"94c16aa6.394d18","type":"link in","z":"dd8bd46f.2ffec8","name":"","links":["978325e6.813f78"],"x":215,"y":880,"wires":[["18e370c0.e6e39f"]]},{"id":"232163d8.0ccc9c","type":"rbe","z":"876783b9.2928b","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":380,"wires":[["6cf260cb.8a847"]]},{"id":"c2db301.75c83d","type":"inject","z":"876783b9.2928b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"DP","payloadType":"global","x":210,"y":380,"wires":[["232163d8.0ccc9c"]]},{"id":"973b47bc.9a8028","type":"link out","z":"6cb9567a.536ba8","name":"deposito","links":["4b1ee44c.2fcd2c","23c381de.03340e"],"x":1175,"y":320,"wires":[]},{"id":"4b1ee44c.2fcd2c","type":"link in","z":"876783b9.2928b","name":"","links":["973b47bc.9a8028"],"x":255,"y":500,"wires":[["1752e31c.56c68d"]]},{"id":"55d40714.8dc1b8","type":"function","z":"876783b9.2928b","name":"","func":"var deposito = msg.payload\nmsg.topic = \"INSERT INTO historico VALUES(null,current_timestamp(),'deposito','\"+deposito+\"') ;INSERT INTO historico_comedouro VALUES((select(Max(ID_Historico))from historico),1);\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":500,"wires":[["26c95494.65abcc","ed2b9950.7b9d58"]]},{"id":"1e189a02.86d3b6","type":"function","z":"876783b9.2928b","name":"","func":"var racao = msg.payload\nmsg.topic = \"INSERT INTO historico VALUES(null,current_timestamp(),'racao','\"+racao+\"');INSERT INTO historico_comedouro VALUES((select(Max(ID_Historico))from historico),1);\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":600,"wires":[["2a25c6dc.b95e8a","cd582f10.dbe2b"]]},{"id":"87672b99.cfbfa8","type":"link in","z":"876783b9.2928b","name":"","links":["25c9ee36.10aa22"],"x":255,"y":600,"wires":[["65f3dbeb.05f274"]]},{"id":"d8eafc83.5118","type":"function","z":"876783b9.2928b","name":"","func":"var agua = msg.payload\nmsg.topic = \"INSERT INTO historico VALUES(null,current_timestamp(),'agua','\"+agua+\"');INSERT INTO historico_comedouro VALUES((select(Max(ID_Historico))from historico),1);\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":720,"wires":[["9dab66c2.9c7018","39804cba.c53124"]]},{"id":"c2050f3b.4fea9","type":"link in","z":"876783b9.2928b","name":"","links":["e3d12620.fc3128"],"x":255,"y":720,"wires":[["d8eafc83.5118"]]},{"id":"546c569d.b2e468","type":"comment","z":"86b43268.760b8","name":"MQTT output On engine control","info":"","x":230,"y":80,"wires":[]},{"id":"95126607.61d698","type":"comment","z":"86b43268.760b8","name":"MQTT Open valve command","info":"","x":220,"y":300,"wires":[]},{"id":"e3e3c045.573cc","type":"link out","z":"dd8bd46f.2ffec8","name":"FM","links":["eec2c130.77f5a"],"x":2035,"y":980,"wires":[]},{"id":"eec2c130.77f5a","type":"link in","z":"86b43268.760b8","name":"","links":["e3e3c045.573cc"],"x":335,"y":220,"wires":[["c48e282c.78fed8"]]},{"id":"7556415.e1722c","type":"comment","z":"dd8bd46f.2ffec8","name":"Emergency stop conditions","info":"","x":170,"y":40,"wires":[]},{"id":"7577393a.4c5a68","type":"comment","z":"dd8bd46f.2ffec8","name":"Stop valve and motor","info":"","x":940,"y":140,"wires":[]},{"id":"573e004a.e18ad","type":"comment","z":"dd8bd46f.2ffec8","name":"Logic to open water valve","info":"","x":950,"y":260,"wires":[]},{"id":"deaf460.39cd3b8","type":"comment","z":"dd8bd46f.2ffec8","name":"Logic to turn ON the motor","info":"","x":950,"y":500,"wires":[]},{"id":"1777e09c.2efbdf","type":"comment","z":"dd8bd46f.2ffec8","name":"Feed hours control logic","info":"","x":160,"y":720,"wires":[]},{"id":"c3faa3b3.0b79d","type":"comment","z":"dd8bd46f.2ffec8","name":"Logic to start the engine in manual mode","info":"","x":220,"y":940,"wires":[]},{"id":"5168290c.789878","type":"comment","z":"8d15e7b0.662468","name":"Open lid warning","info":"","x":140,"y":60,"wires":[]},{"id":"433bc5a4.0ed0bc","type":"comment","z":"8d15e7b0.662468","name":"PIR warning","info":"","x":130,"y":200,"wires":[]},{"id":"bd90bf5f.c924d","type":"comment","z":"8d15e7b0.662468","name":"Vallve Open warning","info":"","x":150,"y":340,"wires":[]},{"id":"4aa7ef68.cf2de","type":"comment","z":"8d15e7b0.662468","name":"PIR warning","info":"","x":130,"y":480,"wires":[]},{"id":"d1c0e180.2c295","type":"ui_text_input","z":"cb6acb82.65ea48","name":"","label":"Day?","tooltip":"YYYY-MM-DD and press ENTER","group":"30568ec5.855672","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":380,"wires":[["b0e4fefe.5be21"]]},{"id":"b0e4fefe.5be21","type":"link out","z":"cb6acb82.65ea48","name":"DateS","links":["e5f09865.d1b488"],"x":335,"y":380,"wires":[]},{"id":"2005aaac.94f506","type":"comment","z":"876783b9.2928b","name":"Search PIR by date","info":"","x":870,"y":180,"wires":[]},{"id":"ad5c57d.9c42da8","type":"mysql","z":"876783b9.2928b","mydb":"d24e982.8771e68","name":"","x":870,"y":220,"wires":[["cb0837df.ee47a8"]]},{"id":"e5f09865.d1b488","type":"link in","z":"876783b9.2928b","name":"","links":["b0e4fefe.5be21"],"x":255,"y":220,"wires":[["144d771.5a89789"]]},{"id":"144d771.5a89789","type":"function","z":"876783b9.2928b","name":"","func":"var data = msg.payload\nmsg.topic = \"select h.ID_Historico,time_stamp from historico h join historico_comedouro hc on hc.ID_Historico=h.ID_Historico where ID_comedouro= 1 and sensor ='pir' and nivel=1 and DATE(time_stamp) ='\"+data+\"';\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":220,"wires":[["ad5c57d.9c42da8"]]},{"id":"cb0837df.ee47a8","type":"link out","z":"876783b9.2928b","name":"TAB","links":["df047b1a.ff1c58"],"x":1065,"y":220,"wires":[]},{"id":"df047b1a.ff1c58","type":"link in","z":"cb6acb82.65ea48","name":"","links":["cb0837df.ee47a8"],"x":815,"y":380,"wires":[["a4492bd3.fccb58"]]},{"id":"ec0a5dca.737f1","type":"link out","z":"6cb9567a.536ba8","name":"Res_empty","links":["c938b6dd.1f3aa8"],"x":1175,"y":80,"wires":[]},{"id":"5c1b45a8.76028c","type":"link out","z":"6cb9567a.536ba8","name":"Res_almost_empty","links":["b2d37d05.52ed6"],"x":1175,"y":160,"wires":[]},{"id":"c938b6dd.1f3aa8","type":"link in","z":"876783b9.2928b","name":"","links":["ec0a5dca.737f1"],"x":235,"y":860,"wires":[["4333bc8c.a8a904","3adf5c84.d66bc4"]]},{"id":"b2d37d05.52ed6","type":"link in","z":"876783b9.2928b","name":"","links":["5c1b45a8.76028c","b858f00b.a20ef"],"x":255,"y":900,"wires":[["77793782.da7098"]]},{"id":"2747043b.2673cc","type":"function","z":"876783b9.2928b","name":"1","func":"var notif1 = msg.payload\nmsg.topic = \"INSERT INTO mensagens_comedouro VALUES(1,1);\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":820,"wires":[["2cc6728f.3b2a2e"]]},{"id":"1892878a.977478","type":"function","z":"876783b9.2928b","name":"2","func":"var notif2 = msg.payload\nmsg.topic = \"INSERT INTO mensagens_comedouro VALUES(2,1);\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":860,"wires":[["2cc6728f.3b2a2e"]]},{"id":"fcbc0586.d677a8","type":"function","z":"876783b9.2928b","name":"3","func":"var notif3 = msg.payload\nmsg.topic = \"INSERT INTO mensagens_comedouro VALUES(3,1);\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":900,"wires":[["2cc6728f.3b2a2e"]]},{"id":"1fa421da.8f934e","type":"comment","z":"876783b9.2928b","name":"Verificate that the notification was read","info":"","x":930,"y":920,"wires":[]},{"id":"dfb5b165.67635","type":"inject","z":"876783b9.2928b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"select *from mensagens_comedouro;","payload":"","payloadType":"date","x":330,"y":960,"wires":[["66decf4e.37a12"]]},{"id":"66decf4e.37a12","type":"mysql","z":"876783b9.2928b","mydb":"d24e982.8771e68","name":"","x":870,"y":960,"wires":[["747da8e.fb19c58","df8babaf.1240c8"]]},{"id":"dd4dcb21.250e88","type":"comment","z":"86b43268.760b8","name":"MQTT Notification pending","info":"","x":210,"y":460,"wires":[]},{"id":"747da8e.fb19c58","type":"link out","z":"876783b9.2928b","name":"notification","links":["901e1fd3.90d16"],"x":1055,"y":960,"wires":[]},{"id":"901e1fd3.90d16","type":"link in","z":"86b43268.760b8","name":"","links":["747da8e.fb19c58"],"x":165,"y":540,"wires":[["7ad2b7f9.e803a8"]]},{"id":"7ad2b7f9.e803a8","type":"switch","z":"86b43268.760b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":540,"wires":[["9c00810d.a2624"],["86775394.2db67"]]},{"id":"9c00810d.a2624","type":"function","z":"86b43268.760b8","name":"","func":"msg.payload = '0';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":520,"wires":[["b6f553b5.904ff"]]},{"id":"6e339f2f.497e1","type":"mqtt out","z":"86b43268.760b8","name":"Publish: esp32/led1","topic":"esp32/led1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"274a5923.348926","x":1270,"y":540,"wires":[]},{"id":"86775394.2db67","type":"function","z":"86b43268.760b8","name":"","func":"msg.payload = '1';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":560,"wires":[["b40e350a.dcd728"]]},{"id":"8c39c6f4.41e368","type":"rbe","z":"86b43268.760b8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":910,"y":540,"wires":[["6e339f2f.497e1","a7a058d9.5ca328"]]},{"id":"c0225740.e806b8","type":"link out","z":"6cb9567a.536ba8","name":"bdtampa","links":["5758b9.17d45748"],"x":1175,"y":1180,"wires":[]},{"id":"65fc45e8.3fcc0c","type":"link in","z":"876783b9.2928b","name":"pir_DB","links":["253add5b.648a32"],"x":255,"y":340,"wires":[[]]},{"id":"253add5b.648a32","type":"link out","z":"cb6acb82.65ea48","name":"","links":["65fc45e8.3fcc0c"],"x":395,"y":220,"wires":[]},{"id":"6cf260cb.8a847","type":"function","z":"876783b9.2928b","name":"","func":"if (msg.payload == 1){\nmsg.topic = \"INSERT INTO historico VALUES(null,current_timestamp(),'pir',1); INSERT INTO historico_comedouro VALUES((select(Max(ID_Historico))from historico),1)\";\n}\nelse{\nmsg.topic = \"INSERT INTO historico VALUES(null,current_timestamp(),'pir',0); INSERT INTO historico_comedouro VALUES((select(Max(ID_Historico))from historico),1)\";\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":380,"wires":[["da7f41f9.e83de","cef5bc55.1d117"]]},{"id":"cef5bc55.1d117","type":"debug","z":"876783b9.2928b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":300,"wires":[]},{"id":"ed2b9950.7b9d58","type":"debug","z":"876783b9.2928b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":440,"wires":[]},{"id":"cd582f10.dbe2b","type":"debug","z":"876783b9.2928b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":540,"wires":[]},{"id":"39804cba.c53124","type":"debug","z":"876783b9.2928b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":640,"wires":[]},{"id":"651efd91.7cb934","type":"debug","z":"86b43268.760b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":260,"wires":[]},{"id":"e044bd62.e4846","type":"debug","z":"86b43268.760b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":280,"wires":[]},{"id":"b6f553b5.904ff","type":"StatusUltimate","z":"86b43268.760b8","name":"Status","property":"payload","x":710,"y":520,"wires":[["8c39c6f4.41e368"]]},{"id":"b40e350a.dcd728","type":"StatusUltimate","z":"86b43268.760b8","name":"Status","property":"payload","x":710,"y":560,"wires":[["8c39c6f4.41e368"]]},{"id":"df8babaf.1240c8","type":"debug","z":"876783b9.2928b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":840,"wires":[]},{"id":"e861b870.77eb38","type":"debug","z":"6cb9567a.536ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":1280,"wires":[]},{"id":"ba7730ed.92ef7","type":"debug","z":"86b43268.760b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1180,"y":220,"wires":[]},{"id":"1752e31c.56c68d","type":"rbe","z":"876783b9.2928b","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":500,"wires":[["55d40714.8dc1b8"]]},{"id":"65f3dbeb.05f274","type":"rbe","z":"876783b9.2928b","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":600,"wires":[["1e189a02.86d3b6"]]},{"id":"c4c1ab6c.fc93f8","type":"rbe","z":"876783b9.2928b","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":720,"wires":[[]]},{"id":"a7a058d9.5ca328","type":"debug","z":"86b43268.760b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1180,"y":480,"wires":[]},{"id":"d7e78339.dfbba","type":"mqtt out","z":"86b43268.760b8","name":"Publish: esp32/led2","topic":"esp32/led2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"274a5923.348926","x":1270,"y":640,"wires":[]},{"id":"23c381de.03340e","type":"link in","z":"86b43268.760b8","name":"","links":["973b47bc.9a8028"],"x":155,"y":640,"wires":[["7ec1bb60.e4a4b4","8dfed8b2.18e468"]]},{"id":"aec03025.76324","type":"rbe","z":"86b43268.760b8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":910,"y":640,"wires":[["d7e78339.dfbba","f6953f96.efa17"]]},{"id":"887fcc93.8d879","type":"StatusUltimate","z":"86b43268.760b8","name":"Status","property":"payload","x":750,"y":620,"wires":[["aec03025.76324"]]},{"id":"7ec1bb60.e4a4b4","type":"switch","z":"86b43268.760b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"str"},{"t":"gt","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":640,"wires":[["431d0214.37b3ac"],["2f6fada4.114e22"]]},{"id":"6e89426c.645cdc","type":"StatusUltimate","z":"86b43268.760b8","name":"Status","property":"payload","x":750,"y":660,"wires":[["aec03025.76324"]]},{"id":"f6953f96.efa17","type":"debug","z":"86b43268.760b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1180,"y":780,"wires":[]},{"id":"431d0214.37b3ac","type":"function","z":"86b43268.760b8","name":"","func":"msg.payload = '1';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":620,"wires":[["887fcc93.8d879"]]},{"id":"2f6fada4.114e22","type":"function","z":"86b43268.760b8","name":"","func":"msg.payload = '0';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":660,"wires":[["6e89426c.645cdc"]]},{"id":"8dfed8b2.18e468","type":"debug","z":"86b43268.760b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":740,"wires":[]},{"id":"9d17f6fb.b746b8","type":"debug","z":"876783b9.2928b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":40,"wires":[]},{"id":"aa22f0f0.388f4","type":"debug","z":"6cb9567a.536ba8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":60,"wires":[]},{"id":"75ae75cb.20b5ec","type":"debug","z":"6cb9567a.536ba8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":80,"wires":[]},{"id":"3adf5c84.d66bc4","type":"debug","z":"876783b9.2928b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":1060,"wires":[]},{"id":"4333bc8c.a8a904","type":"rbe","z":"876783b9.2928b","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":390,"y":860,"wires":[["1892878a.977478"]]},{"id":"77793782.da7098","type":"rbe","z":"876783b9.2928b","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":390,"y":900,"wires":[["fcbc0586.d677a8"]]},{"id":"1045387.d9bafc8","type":"rbe","z":"876783b9.2928b","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":410,"y":820,"wires":[["2747043b.2673cc"]]}]